.wrapper {
    padding: 20px;
    text-align: center;
    height: 500px;
    background-color: #ffffb3;
    margin-top: -35px;
    padding-top: 35px;
}

input {
    margin: 10px;
}

h2 {
    font-size: 3rem;
}
